* {
    box-sizing: border-box;
}

.navbar {
    background-color: #31ab52 !important;
}

.btn {
    background-color: white !important;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.carousel-item>img {
    object-fit: cover;
    width: 400px;
    height: 300px;
}

.carousel {
    height: 300px;
}

.carousel-caption {
    background-color:white;
    opacity: 0.7;
    color: darkslategray;
    font-weight: bolder;
}

.card {
    width: 25%;
    display: inline;
    margin: 1em auto;
}

.card:hover {
    opacity: 0.7;
}

.card:active {
    border: 3px solid lightgray;
}

h2 {
    margin-top: 1em;
}

.card-img-top {
    height: 286px;
    width: 286px;
    object-fit: contain;
}