@media screen and (max-width: 768px) {
    .alert-info {
        text-align: center;
        width: 100%;
        height: 50px;
        padding: 15px;
    }

    .nav-links > li{
        margin-top: 10px;
        text-align: center;
        height: 50px;
        padding: 15px;
    }

    .nav-links {
        padding: 0;
    }

    h1 {
        text-align: center;
        margin: 2px;
    }

    .main, .sub-section {
        width:100%;
    }

}

@media screen and (min-width:768px) {
    .alert-info {
        display: none;
    }

    .nav-links > li {
        display: inline;
        padding: 1.5em;
        background-color: transparent;
    }

    nav {
        float: right;
        margin: 21.4px 0;
    }

    h1 {
        float: left;
    }

    section {
        margin: 0;
    }

    #main {
        margin: 0;
    }

    .sub-section {
        margin: 0;
    }

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-links {
    list-style-type: none;
}

.sub-section {
    font-style: italic;

}

img {
    margin: 0 auto;
    width: 100%;
}

footer {
    bottom: 0;
}

#social-media-links {
    height: 50px;
    width: 50px;
    float: right;
    margin: 2em;
    display: inline;
}

.socialmedia {
    margin: 0;
}

